
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
	--background: rgb(225,248,255);
	--accent: rgb(0, 0, 0);

	background-color: var(--background);
	font-family: 'Josefin Sans', sans-serif;
}

.title-description {
	display: inline-block;
	position: relative;
	padding-left: 15px;
	margin-bottom: 10px;
	color: var(--accent);
	font-size: 20px;
}

.title-description::before {
	background-color: var(--accent);
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 0;
	width: 2px;
}


.title-title {
	color: var(--accent);
	font-size: 30px;
	text-decoration: underline;
	opacity: 75%;
	font-weight: bold;
}

#menu-actions {
	margin: 100px;
}

.horizontal-centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

html {
	padding: 25px;
}

a {
	color: inherit;
	text-decoration: none;
}
